.App {
  text-align: center;
}
*{
  border: 2px black solid;
}
.App{
  margin:auto;
  width:1000px;
}
.header-container{
  width: 100%;
  height:450px;
  overflow: hidden;
}
.headerImg{
  width:100%;
  
}
.animes-container{
  background-color: darkolivegreen;
  width: 100%;
  display: flex;
  flex-direction: row;

}
.animesImg{
  width: 50%;
}
.animesInfo{
  width: 50%;
}
